/*购物车样式*/

.quantity-box .active, .mobile-number .active {
background: -webkit-gradient(linear,0 0,0 100%,from(#3ACCFD),to(#39C3F2));
}
.item-content {
display: inline-block;
vertical-align: top;
}
.btn-mini {
width: 24px;
line-height: 24px;
font-weight: 900;
font-size: 18px;
display: inline-block;
color: white;
vertical-align: top;
text-align: center;
border-radius: 4px;
box-shadow: 1px 0 1px #BBB;
background: -webkit-gradient(linear,0 0,100% 0,from(#F7F7F7),to(#EBEBEB));
-webkit-transform: rotate(90deg);
}
.quantity-box > input {
min-width: 20px;
width: 12px;
margin: 0 5px;
border-radius: 4px;
text-align: center;
vertical-align: middle;
border: 1px solid #CCC;
box-shadow: 0 1px 1px #EEE inset;
}
.aa-btn {
background: #C0392B;
color: white;
margin: 0;
padding: 0 0px;
border-radius: 2px;
cursor: pointer;
display: inline-block;
font-size: 14px;
height: 30px;
line-height: 30px;
text-align: center;
}
.bb-btn {
background: #57B6CC;
color: white;
margin: 0;
padding: 0 0px;
border-radius: 2px;
cursor: pointer;
display: inline-block;
font-size: 14px;
height: 30px;
line-height: 30px;
text-align: center;
}
.cc-btn {
background: #A6C04C;
color: white;
margin: 0;
padding: 0 0px;
border-radius: 2px;
cursor: pointer;
display: inline-block;
font-size: 14px;
height: 30px;
line-height: 30px;
text-align: center;
}

.box-container ul  li.lili-title{
text-align: right;
font-family: 'Arial';
padding: 10px;
display: block;
color: #333;
text-decoration: none;
}
.box-container ul  li.bibi-title{
text-align: center;
font-family: 'Arial';
padding: 10px;
display: block;
color: #333;
text-decoration: none;
}


.nogoodsimg {

width: 74px;
height:77px;
}

.nogoodstxt {

}
.nogoodstxt p {
line-height: 35px;
}
.empty {
color: #333;
font-weight: bold;
}
.color_blue a{
color: #4185C9;
}

/*新头文件样式*/

.left-box {
left: 8px;
}
.left-box a{
font-size:14px;
color: white;
text-shadow: 0 1px 1px #348DA7;
}
.left-box, .right-box {
position: absolute;
top: 10px;
}
.hd-lbtn {
position: relative;
display: block;
}
.hd-lbtn::before {
content: '';
display: inline-block;
width: 20px;
height: 20px;
background: -webkit-linear-gradient(-45deg,#5BBFD8,#449FB6);
border: 1px solid #2C96B2;
-webkit-transform-origin: 0 0;
-moz-transform-origin: 0 0;
-webkit-transform: scaleX(0.8) rotate(45deg);
-moz-transform: scaleX(0.8) rotate(45deg);
border-radius: 3px 2px;
position: absolute;
left: 13px;
top: -1px;
}
.hd-rbtn, .hd-lbtn span {
display: inline-block;
height: 27px;
line-height: 27px;
padding: 0 10px;
background: -webkit-linear-gradient(top,#5BBFD8,#449FB6);
border: 1px solid #2C96B2;
border-radius: 5px;
}
.hd-lbtn span {
padding: 0 10px 0 5px;
margin-left: 12px;
position: relative;
border-left: 0;
border-radius: 2px 5px 5px 2px;
}
.wap-header h1{
color: white;
font: 700 20px/50px Arial;
text-shadow: 0 1px 1px #398091;
}


/*我的账户*/

.my-account {
position: relative;
background: -webkit-linear-gradient(top,#E1DACE,#DFC8B4);
border-bottom: 1px solid #C0BBB2;
display: block;
height: 79px;
width: 100%;
}
.my-account::after {
content: 'ᐳ';
font-family: MIF;
position: absolute;
right: 23px;
top: 50%;
color: #666;
font-size: 18px;
margin-top: -11px;
}
.my-account-username {
font: 16px Arial,Helvetica,sans-serif;
position: absolute;
top: 22px;
left: 28px;
color: #333;
}
.my-account-remain {
position: absolute;
top: 45px;
left: 28px;
font: 12px Arial,Helvetica,sans-serif;
color: #666;
}
.my-account > img {
float: right;
}

.box-cpd {
padding-top: 0;
padding-bottom: 0;
}
.box-style, .box-style2 {

}
.cf::after {
display: block;
content: '';
clear: both;
visibility: hidden;
}
.mg-1-4, .mg-4 .mg-item, ul.mg-4 li, ol.mg-4 li {
width: 33%;
border-bottom:none;
}
ul.mg-2 li, ol.mg-2 li, ul.mg-3 li, ol.mg-3 li, ul.mg-4 li, ol.mg-4 li {
float: left;
margin: 0;
list-style: none;
}
.my-mt a {
position: relative;
text-align: center;
display: block;
margin-top: 10px;
height: 24px;
border-right: 1px solid #E5E5E5;
margin-bottom: 31px;
}
.my-mt .icon-font {
font-family: MIF;
color: #52B3CC;
font-size: 24px;
line-height: 30px;
}
.my-mt i {
display: block;

}
em, i {
font-style: normal;
}
.my-mt span {
display: block;
color: #666;
font-size: 12px;
}
.my-mt a {
text-align: center;
}
/*我的订单*/

.ml-item {
display: block;
text-decoration: none;
overflow: hidden;
white-space: nowrap;
text-overflow: ellipsis;
padding: .9em 2em .6em .6em;
text-shadow: 0 1px 0 white;

position: relative;
color: #aaa;

}

.icon-fonts {
width: 30px;
margin-left: 5px;
display: inline-block;
text-align: left;
color: #757575;

vertical-align: bottom;
}
.mcwz{
display: inline-block;
height:20px;
}

/*我的账户*/
.form dt {
float: left;
width: 12%;
line-height: 38px;
clear: both;
color: #AAA;
}
.form dt::after {
content: ':';
}
.form dd {  

overflow: hidden;
width:85%;
line-height: 38px;
margin-bottom: 8px;
}
.input-common, .input-common input, .input-num input, .select-common, .text-common {
width: 100%;
padding: 0 10px;
height: 46px;
font-size: 16px;
border-radius: 5px;
border: 1px #CCC solid;
background: white;
-webkit-box-sizing: border-box;
-moz-box-sizing: border-box; 
}

.cf::after {
display: block;
content: '';
clear: both;
visibility: hidden;
}
.address-edit-pcd .mg-1-3:first-child {
text-align: left;
}
.mg-1-3, .mg-3 .mg-item, ul.mg-3 li, ol.mg-3 li {
width: 25%;
}
.mg-item, .mg-1-2, .mg-1-3, .mg-2-3, .mg-1-4, .mg-3-4 {
float: left;
}
.text-common {
display: inline-block;
vertical-align: top;
height: 100px;
padding: 10px;
resize: none;
}


.pageinator {
height: 48px;
position: relative;
padding: 0 8px;
background: #F8F8F8;
border-top: 1px solid #EFEFEF;
border-bottom: 1px solid white;
}
.clearfix::after {
display: block;
content: '';
clear: both;
visibility: hidden;
}
.pg-next {
float: left;
}
.pg-next, .pg-top {
display: inline-block;
line-height: 48px;
}
.btn:hover {
background: -webkit-gradient(linear,0 0,0 100%,from(#EFEFEF),to(#FCFCFC));
}
.pg-next > span {
margin-right: 10px;
}
.btn {
text-align: center;
background-color: white;
border: 1px #CCC solid;
cursor: pointer;
padding: .5em 1.5em;
color: #6C6C6C;
text-shadow: 1px 1px 1px white;
border-radius: 3px;
background: -webkit-gradient(linear,0 0,0 100%,from(#FCFCFC),to(#F0F0F0));
}
.pg-top {
float: right;
}
.pg-next, .pg-top {
display: inline-block;
line-height: 48px;
}
.btn-top {
width: 96px;
padding: 0;
display: inline-block;
line-height: 30px;
}
.icon-top {
height: 30px;
padding: 0 10px 0 25px;
background-position: -192px -40px;
}
.icon {
height: 20px;
display: inline-block;
background-image: url("../image/i-all.png");
background-size: 250px 150px;
background-color: transparent;
background-repeat: no-repeat;
}
.page a {
text-align: center;
background-color: white;
border: 1px #CCC solid;
cursor: pointer;
padding: .5em 1.5em;
color: #6C6C6C;
text-shadow: 1px 1px 1px white;
border-radius: 3px;
background: -webkit-gradient(linear,0 0,0 100%,from(#FCFCFC),to(#F0F0F0));
}

/*分类样式*/

