body,h1,h2,h3,h4,h5,h6,hr,p,blockquote,dl,dt,dd,ul,ol,li,pre,form,fieldset,legend,button,input,textarea,th,td{margin:0;padding:0;}
body{font-family:arial,Microsoft Yahei}
table{border-collapse:collapse;border-spacing:0}
h1,h2,h3,h4,h5,h6{font-size:100%; font-weight:normal;}
ul,ol,li{list-style:none;}
em,i{font-style:normal}
strong,b{font-weight:normal}
img{border:none}
input,img{vertical-align:middle}
a{text-decoration:none}
.f_l{
	float:left;
}
.f_r{
	float:right;
}
.over{
	overflow:hidden;
}
/*fonticon style*/
@font-face {
  font-family: 'iconfont';
  src: url('http://at.alicdn.com/t/font_1420721901_24084.eot'); /* IE9*/
  src: url('http://at.alicdn.com/t/font_1420721901_24084.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('http://at.alicdn.com/t/font_1420721901_24084.woff') format('woff'), /* chrome、firefox */
  url('http://at.alicdn.com/t/font_1420721901_24084.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
  url('http://at.alicdn.com/t/font_1420721901_24084.svg#iconfont') format('svg'); /* iOS 4.1- */
}
.iconfont{font-family:"iconfont";font-size:30px;font-style:normal; font-weight:bold;}

*{-webkit-tap-highlight-color:rgba(0,0,0,0)}
input,select,textarea{-webkit-tap-highlight-color:rgba(0,0,0,0);border:0;border-radius:0}
textarea:focus{outline:0}
body{color:#000;font-family:Microsoft YaHei;/*background:#f8f8f8;*/}
html{-webkit-tap-highlight-color: transparent;overflow-x: hidden;height: 100%;min-width: 320px;overflow-x: auto;}
html,body{background-color:#f2f2f2;color:#333;font-size:14px;-webkit-text-size-adjust:none}
input, textarea, keygen, select, button, isindex, meter, progress {-webkit-writing-mode: horizontal-tb; font-size:100%;}
input, textarea, keygen, select, button, isindex {margin: 0em;font: -webkit-small-control;color: initial;letter-spacing: normal;word-spacing: normal;text-transform: none;text-indent: 0px;text-shadow: none;display: inline-block;text-align: start;}
body{overflow-x: hidden;}
body
    {min-width: 320px;
	 /*max-width:640px;*/
     font-size: 1em;
     font-family: 'microsoft yahei',Verdana,Arial,Helvetica,sans-serif;
     color: #000;
	 background:#fff;}
	 
	 
.wrap{
   width:100%;  
   height:100%; 
   background:#f8f8f8;
   }

.header{position: relative;}

.c-hd{ 
   background:@main_color;
  
   height:49px;
   display:-moz-box;
   display:-webkit-box;
   display:box;
   width:100%;
   
	   }

.header_left_text{
    font-size: 18px;
	height: 18px;
	line-height: 18px;
	padding: 15px 0 0 5px;
	min-width: 50px;
 }

.header_left_text a{
   position: relative;
   display: block;
   color:@font_white;
   border-radius: 2px;
    }	

.cut_city{
   font-size: 18px;
height: 18px;
line-height: 18px;
padding: 13px 0 0 5px;
min-width: 50px;
         }


.cut_city a{
   position: relative;
   display: block;
   color:@font_white;
   border-radius: 2px;
    }		 

.cut_city a i{ margin-left:6px;font-size: 20px;}
			 
			 
			 				 
.logo_img{
    -webkit-box-flex: 1;
	-moz-box-flex:1;
   text-align: center;
   color:@font_white;
   font-size: 18px;
   line-height:49px;
   }
		
		
.h_search a i{
   color:@font_white;
   font-size:18px;
   }			 
			 
			 
.h_search {
   padding: 15px 11px;
   display: inline-block;
   line-height: 100%;
   position:relative;
   }			 
			 
			 
			 
.banner-view{
   margin:0 auto; 
   overflow:hidden;
   }			 

.sliderwrap{
   height:100%;
   overflow:hidden;
   }


.sort_list{ 
   background:@box_color;
   overflow:hidden;
   padding:8px 0;
   border-bottom: 1px solid @border_main;
   border-top: 1px solid @border_main;
   }



.sort_list .sort_li{
   display: inline-block;
   width: 23%;
   -moz-box-sizing: border-box;
   box-sizing: border-box;
   text-align: center;
   -webkit-box-sizing: border-box;
}

.sort_list .sort_li a{
   display: block;
   color: inherit;
   height: 100%;
   }
.sort_list .sort_li p{}
.sort_li a .yuan{
   border-radius: 20px; 
   display:block;
   height:40px;
   width:40px;
   margin: 10px auto 4px auto;
   line-height: 40px;
   text-align: center;
   color: @font_white;
   font-size:20px;
   }

.yuan1 .yuan{
	background:#ff7a19;
   }

.yuan2 .yuan{
	background:#ef5e4b;
   }
.yuan3 .yuan{
	background:#f8b107;
   }
.yuan4 .yuan{
	background:#c871e2;
   }
.yuan5 .yuan{
	background:#3ed087;
   }
.yuan6 .yuan{
	background:#f6606c;
   }
.yuan7 .yuan{
	background:#bd8063;
   }
.yuan8 .yuan{
	background:#5598dc;
   }
			 
			 
.sort_li a .txt{ 
   color:#222;
   }	
.sort_li .iconfont{ 
	color:#f7a525; 
	display:inherit; 
	border:2px solid #f7a525; 
	border-radius:50%; 
	-webkit-border-radius:50%; 
	padding:10px; font-size:30px;}
	
.list_title{
	color:#888;
	font-size:16px;
	border-bottom:1px solid @border_main;
	border-top:1px solid @border_main;
	background:#f2f2f2;
	padding:0px 0 0px 10px;
	font-weight:bold;
	}		 
	
.list_title i{
	margin-right:5px;
	font-size:24px;
	color:#999;
}	
.list-view{
	background:@box_color;
}		 

.blank8{
	overflow:hidden;
	clear:both;
	height:8px;
	font-size:0px;
	line-height:0px;
}


.sp_li{
	overflow:hidden;
	display: inline-block;
	width:48%;
	/*border-right:1px solid #cfcbc0;*/
	text-align:center;
}

.sp_li a{
	display:block;
	margin:0 5px;
	position:relative;
}

.sp_ul{
	padding:10px 0;
	text-align:center;
}

.sp_li .h{
	position:absolute; bottom:0; left:0px; height:44px;	font-size:14px;	color:#fff; line-height:150%; width:100%; text-align:center; white-space: nowrap;background:rgba(0,0,0,.4); text-align:left; 
}
.sp_li .h h4,.sp_li .h p{padding:0 5px; font-weight:bold;}
.sp_li .h h4{ color:#f3a525; }


.f_user{
	display: inline-block;
	
	text-align:left;
}

.change_city{
	display: inline-block;
	padding:5px 10px 0 0;
	text-align:right;
	font-size:14px;
}

.change_city span{
	 /*color:@font_style;*/
	  }
	  
.change_city i{
	display:inline-block;
	width:16px;
	height:16px;
	background:@main_color; color:@font_white;
	border-radius: 4px; 
	text-align: center;
    line-height: 16px;
	margin-right:2px;
	
}
.change_city a{
	 color:@font_style;
	 font-size:14px;
	 position: relative;
    
	  }	  
.f_login{
	display: inline-block;
	width:60px;
	height:28px;
	background:@main_color;
	line-height:28px;
	text-align:center;
	font-size:14px;
	border-radius: 20px;
	margin-left:10px;
}
.f_login a{
	color:@font_white;
}

.f_register{
	display: inline-block;
	width:60px;
	height:28px;
	background:@box_red;
	line-height:28px;
	text-align:center;
	font-size:14px;
	border-radius: 20px;
	margin-left:10px;
}
.f_register a{
	color:@font_white;
}
.footer-t{
	 padding:13px 0;
	 overflow:hidden;
}

.footer-sort ul li{ 
   display: inline-block;
   width:23%;
   color:#666;
   text-align:center;
   box-sizing:border-box;
	-moz-box-sizing:border-box; /* Firefox */
	-webkit-box-sizing:border-box; /* Safari */
   }
     
.footer_p{
	 width:100%;
	 text-align:center;
	 color:#666;
	 line-height:34px;
	 }   
.footer-sort{
	padding-bottom:5px;
	text-align:center;
	background:rgba(247,165,37,.8);
	box-shadow:0 -3px 3px #999;
	-webkit-box-shadow:0 -3px 3px #999;
	position:fixed;
	bottom:0;
	width:100%;
	
}
.footer-sort li a{ color:#fff; font-size:14px; font-weight:bold;}
.footer-sort li a i{}

.footer_num .footer_bor{
   display:inline-block;
   border-bottom:1px solid #999;
   height: 11px;
   width: 100%;
   text-align: center;
}

.footer_num .footer_text{
	color:#aaa;
	display:inline-block;
	padding:0 7px;
    background: #f8f8f8;
	text-align:center;
}

.footer_num{
	padding:0 10px 12px 10px;
}

.activity_li{
	padding:0 10px;
}

.activity_li .lucency{
	position:absolute;
	bottom:0px;
	height:20px;
	width:100%;
	background:black;
	text-align:center;
	line-height20px;
	color:#fff;
	filter:alpha(opacity=50);
    opacity:0.5;
}

.li_box{ 
   width:100%;
   display:block;
   margin:0 auto;
   position:relative;
   margin-bottom:10px;
}

/**********************************************发帖子*ymy*add*2014-12-11***************************************************/	
.topic_write_txt textarea{
	width: 100%;
	height: 200px;
	font-size:12px;
	color:#adadad;
	border:1px solid @border_main;
}

.topic_write_txt{
	padding: 10px;
	background-color: white;

}
.write_btn{
	
	margin:15px 10px;
	padding: 10px 0;
	color: #fff;
	background:#fb8602;
	border-radius: 30px;
	text-align: center;
	font-size: 14px;
	font-weight:bolder;
}
.form_album {
background: url(../images/album.gif) no-repeat;
}
.form_face {
background: url(../images/face.gif) no-repeat;
}
.form_topic {
background: url(../images/topic.gif) no-repeat;
}
.form_ico {
cursor: pointer;
display: inline-block;
height: 16px;
line-height: 16px;
padding-left: 20px;
margin-right: 5px;
}
.fileupload{ width:66px; height:24px; position:relative; overflow:hidden; display:inline-block; background:url(../images/upbtn.gif); text-align:center; line-height:24px; color:#fff; }
.fileuploading{ width:66px; height:24px; position:relative; overflow:hidden; display:inline-block; background:url(../images/upbtn.gif) 0px -24px; text-align:center; line-height:24px; color:#fff; }
.fileupload .filebox{ position:absolute; right:0px; top:0px; filter: alpha(opacity = 0);
	-moz-opacity: 0;
	opacity: 0;}
	
/*成长日记发表--插入表情*/	
.growth_insertface{ 
	width:20px; 
	height:24px; 
	position:relative; 
	overflow:hidden; 
	display:inline-block; 
	background:url(../images/face.gif) no-repeat;
	text-align:center;
	line-height:24px;
	color:#fff; 
}
/*成长日记发表--上传图片*/
.growth_pic_fileupload{ 
	width:40px; 
	height:40px; 
	position:relative; 
	overflow:hidden; 
	display:inline-block; 
	line-height:24px;
	color:#666;
	left:15px;
}
.growth_pic_fileuploading{ 
	width: 70px;
	height: 25px;
	position: relative;
	overflow: hidden;
	display:inline-block; 
	font-size:12px;
}
.growth_pic_fileupload .filebox{ 
	position:absolute; 
	right:0px; 
	top:0px;
	filter: alpha(opacity = 0);
	-moz-opacity: 0;
	opacity: 0;
}
.image_item {
	position: relative;
	width: 100px;
	height: 100px;
	float: left;
	display: inline-block;
	margin-right: 5px;
	padding-bottom:10px;
}
.image_item .del_image {
	text-decoration: none;
	font-size: 14px;
	position: absolute;
	left: 2px;
	top: 2px;
	cursor: pointer;
	display: block;
	width: 15px;
	height: 15px;
	background: #f30;
	border: #fff 1px solid;
	color: #fff;
	font-weight: bolder;
	text-align: center;
	line-height: 15px;
}
.hide{ display:none;}
.show{ display:inline-block;}
/**********************************************论坛帖子列表*ymy*add*2014-12-10***************************************************/	
.topic_li .list_item{
   display: -webkit-box;
   display: -moz-box;
   display:box;
   padding:4px;
   border-bottom:1px solid #d9d9d9;
   width:100%;
}	
.topic_li .list_item .topic_user_headimg{
   /*width: 50px;*/
   margin: 0px 12px 0 0;
   display: inline-block;
   overflow: hidden;
   position: relative;
}
.topic_ico{
	/*padding:0 11px -2px 0; */
	position:absolute;
	top:0px;
	left:0px;
	height:25px;
	width:49px;
	border-radius: 30px 30px 0 0;	
	color:#fff;
	text-align:center;
	line-height:26px;
	font-size:10px;
	opacity:0.7;
}
.topic_user_headimg .ico{
	background:#fb4226;
}	
.topic_user_headimg a img,.topic_user_headimg img{ border-radius:50%;border: 1px solid #FFF;
 width:50px; height:50px; overflow:hidden;}
.topic_user_headimg p{ font-size:12px; text-align:center; padding-top:8px;}
.topic_li .info{
	-webkit-box-flex: 1;
	-moz-box-flex:1;
	color: #6E7D8B;
}
.topic_li .info a i{ color:#000;}
.topic_li .info a .iconfont{ color:#bbb;}
.topic_li .info h3{
   font-size: 12px;
   color: #b2b2b2;
   height: 32px;
   line-height: 16px;
   overflow: hidden;
   display: -webkit-box;
   display: -moz-box;
   display:box;
   width:100%;
   -webkit-line-clamp: 2;
   -webkit-box-orient: vertical;
   -moz-line-clamp: 2;
   -moz-box-orient: vertical;
   word-break: break-all;
  margin: 3px 0;
}

/******************************************************论坛回复列表的主帖*ymy*add*2014-12-10***************************************************/
.topic_item_li .list_item{
   display: -webkit-box;
   display: -moz-box;
   width: 100%;
   display:box;   
   padding:8px 10px 9px 10px;
}
.topic_item_li .list_item .topic_user_headimg{
   width: 50px;
   margin: 0px 12px 0 0;
   display: inline-block;
   overflow: hidden;
   position: relative;
}	
.topic_item_li{
	border-bottom:1px solid #f5f5f5;
}
.topic_item_li .info{
	-webkit-box-flex: 1;
	-moz-box-flex:1;
    color: #6E7D8B;
	padding-right:10px;
}	
.topic_item_li .info h2{
   font-size: 15px;
   color: #323232;
   display: -webkit-box;
   display: -moz-box;
   font-weight: bold;
   -webkit-line-clamp: 2;
   -moz-line-clamp: 2;
   -webkit-box-orient: vertical;
   -moz-box-orient: vertical;
   word-break: break-all;
   line-height: 15px;
}
.topic_item_li .info .content{
   font-size: 12px;
   color: #b2b2b2;
   line-height: 14px;
   margin: 11px 0;
}
.topic_item_li .info .content img{
    max-width: 200px;
	height: auto;
	width: expression(this.width > 200 ? "200px" : this.width);
}

/*************************************************************论坛回复列表*ymy*add*2014-12-10****************************************************/
.topic_item_reply_li .list_item{
   display: -webkit-box;
   display: -moz-box;
   width: 100%;
   display:box; 	
}
.topic_item_reply_li .list_item .topic_user_headimg{
   width: 50px;
   margin: 0px 12px 0 0;
   display: inline-block;
   overflow: hidden;
   position: relative;
}	
.topic_item_reply_li{	
	padding:8px 10px 9px 10px;   
	border-bottom:1px solid #eee;	
}
.topic_item_reply_li .info{
	-webkit-box-flex: 1;
	-moz-box-flex:1;
	color: #6E7D8B;
}	
.topic_item_reply_li .info .content{
   font-size: 12px;
   color: #b2b2b2;
   line-height: 14px;  
   margin: 1px 0;
}
.reply_topic_bottom{
   display: -webkit-box;
   display: -moz-box;
   width: 100%;
   display:box;
   color: #6E7D8B;
}
.reply_topic_bottom .reply_topic_bottom_text{
   -webkit-box-flex: 1;
   -moz-box-flex: 1;
}
.reply_topic_bottom .reply_topic_bottom_text em {
   font-size: 15px;
   color: #fe4229;
   font-weight: normal;
   font-style: normal; 
   padding-right:12px;
}
.reply_topic_bottom .reply_topic_bottom_text em i{
	font-size:12px;
	color: #b2b2b2;
	font-weight: normal;
}
.reply_topic_bottom .reply_topic_bottom_text_right{
	text-align: right;
	display: inline-block;
	height: 14px;
	font-size: 12px;
	color: #b2b2b2;
}
.reply_topic_bottom_p{
	padding-top:8px;	
}
.reply_topic_bottom_text_right .iconfont{ font-size:14px; color:#f60;}

/*************************************************************论坛帖子内容下面的小文字公用*ymy*add*2014-12-10****************************************************/
.topic_bottom{
   display: -webkit-box;
   display: -moz-box;
   width: 100%;
   display:box;
   font-size:12px; 
   color:#b2b2b2;
   position:relative;
}
.dw-r-time{ position:absolute; right:6px; bottom:0;}
.jin,.jian,.ding{
	padding: 0 5px;
	margin-right: 5px;
	height: 16px;
	line-height: 16px;
	display: inline-block;
	vertical-align: 10%;
	border-radius: 2px;
	font-size:10px; color:#fff; margin-left:3px;
}
.jin{background-color:#f60;}
.ding{ background-color:#0c9f02;}
.jian{
background-color: #db5f40;
}
.topic_bottom .topic_bottom_text{
   -webkit-box-flex: 1;
   -moz-box-flex: 1;
}
.topic_bottom .topic_bottom_text em {
   font-size: 15px;
   color: #fe4229;
   font-weight: normal;
   font-style: normal; 
   padding-right:12px;
}
.topic_bottom .topic_bottom_text em i{
	font-size:12px;
	color: #b2b2b2;
	font-weight: normal;
}
.topic_bottom .topic_bottom_text_right{
	text-align: right;
	display: inline-block;
	height: 14px;
	font-size: 12px;
	color: #b2b2b2;
	padding-right:20px;
}
.topic_bottom .iconfont{ font-size:12px; color:#bbb;}
.topic_bottom .zan_gray{ color:#bbb;}
.topic_bottom .zan{ color:#bbb;}

.topic_t_bar{ padding:10px; background:#fff; border-bottom: 1px solid #e6e6e6; }
.topic_t_bar a{ font-size:15px; font-weight:bold; color:#4f8fdd; display:inline-block;}
.topic_t_bar .t_l{ width:85%;}

/*************************************************************成长日志*ymy*add*2014-12-10****************************************************/
.growth_diary_top{
	background: #ADD07C;
	width: 100%;
	position: relative;
	border-top-left-radius: 20px;
	border-top-right-radius: 20px;
}
.growth_diary_date{
	width: 100%;
	height: 40px;	
}
.growth_diary_user {
	width: 100%;
	height: 200px;	
	text-align: center;
}
.growth_circle{
	width: 100%;
	height: 30px;
	background:rgba(51,51,51,.3)
}
/*.growth_diary_list_table {
	width:100%;
	color: #adadad;
	font-size:12px;
	margin:5px;
	border:1px solid #ddd;
	border-bottom-color:#888;
	border-bottom-left-radius:5px;
	border-bottom-right-radius:5px;
	box-shadow:0px 0px 8px #ccc;
} */
.growth_diary_list_table a{
	color: #8C5225;
}
.td_line{
	line-height: 22px;
	padding: 10px;
	border-bottom: 1px solid #f5f5f5;
	color:#A97F5D;
}
.pic_item {
	position: relative;
	width: 100px;
	height: 100px;
	float: left;
	display: inline-block;
	margin-top: 5px;
	margin-right: 5px;
}

.growth_li .list_item{
   display: -webkit-box;
   display: -moz-box;
   width: 100%;
   display:box;
   padding:8px 10px 9px 10px;
}	 
.growth_li{	
	border-bottom:1px solid #f5f5f5;
}
.growth_li .list_item .user_headimg {
	width: 50px;
	margin: 0px 12px 0 0;
	display: inline-block;
	overflow: hidden;
	position: relative;
	text-align: center;
	color: #b2b2b2;
	font-size:12px;
}
.growth_li .info{
	-webkit-box-flex: 1;
	-moz-box-flex:1;
	padding-right:10px;
}
.growth_li .info i{
	color: #6E7D8B;
}
.growth_li .info h2{
   font-size: 15px;
   color: #323232;
   height: 15px;
    overflow: hidden;
   display: -webkit-box;
   display: -moz-box;
   font-weight: bold;
   -webkit-line-clamp: 2;
   -moz-line-clamp: 2;
   -webkit-box-orient: vertical;
   -moz-box-orient: vertical;
   word-break: break-all;
   line-height: 15px;
}
.growth_li .info .growth_content{
   font-size: 12px;
   color: #b2b2b2;
   line-height: 14px;  
   margin: 11px 0;
}
.growth_write{
   display: -webkit-box;
   display: -moz-box;
   width: 100%;
   display:box;
   color: #6E7D8B;
   font-size:12px;
   padding-top:10px;
}
.growth_write .growth_writetime{
   -webkit-box-flex: 1;
   -moz-box-flex: 1;
}
.growth_write .growth_writedetail{
	text-align: right;
	display: inline-block;
	height: 14px;
	font-size: 12px;
	color: #b2b2b2;
	padding-right:10px;
}
.growth_diary_reply_write_txt{
	padding-top: 10px;
	padding-left: 10px;
	padding-right: 10px;
	background-color: white;
}
.growth_diary_reply_write_txt textarea {
	width: 100%;
	height: 200px;
	font-size: 12px;
	color: #adadad;
	border: 1px solid #e6e6e6;
}

/*商铺、商品列表*/
.tuan_li .list_item{
   display: -webkit-box;
   display: -moz-box;
   width: 100%;
   display:box;
   
}	

.tuan_li .list_item .pic{
   margin: 0px 6px 0 0;
   display: inline-block;
   overflow: hidden;
   position: relative;
   border-radius: 4px;
}
.tuan_li .list_item .pic img{
 overflow:hidden;
 width:92px;
 height:80px;
}	 


.tuan_li{
	padding:8px 10px 9px 6px;
	border-bottom:1px solid #f5f5f5;
}

.tuan_ico{
	padding:0 11px 5px 0;
	position:absolute;
	top:-20px;
	left:0px;
	height:35px;
	width:41px;
	border-radius: 0 0 22px 0;
	
	color:#fff;
	text-align:center;
	line-height:60px;
	font-size:12px;
}

.pic .order{
	background:#0079ff;
	}

.pic .hot{
	background:#fb4226;
	}
	
.tuan_li .info{
	-webkit-box-flex: 1;
	-moz-box-flex:1;
}	

.tuan_li .info h2{
   font-size:14px;
   color: #666;
   display: -webkit-box;
   display: -moz-box;
   -webkit-line-clamp: 2;
   -moz-line-clamp: 2;
   -webkit-box-orient: vertical;
   -moz-box-orient: vertical;
   word-break: break-all;
   line-height:16px;
   font-weight:bold;
}
.tuan_li .info h3{
   font-size:12px;
   color: #888;
   height:14px;
   line-height:14px;
   overflow: hidden;
   display: -webkit-box;
   display: -moz-box;
   display:box;
   width:100%;
   -webkit-line-clamp: 2;
   -webkit-box-orient: vertical;
   -moz-line-clamp: 2;
   -moz-box-orient: vertical;
   word-break: break-all;
  margin:3px 0;

}


.tuan_price{
   display: -webkit-box;
   display: -moz-box;
   width: 100%;
   display:box;
}
.tuan_price ul{ width:100%;}
.tuan_price ul li{ float:left; color:#999; font-size:12px; height:20px; line-height:20px;}
.tuan_price ul .w_75{ width:75%;}
.tuan_price ul .w_25{ width:25%;}
.tuan_price ul li i{ font-size:12px; color:#aaa;}
.tuan_price ul .distance{ font-size:15px;}
.txt_tag span{ background:#f5af23; display:inline-block; margin:0 3px 0 0; color:#fff; font-size:12px; padding:0 2px;}
.tuan_price .price{
   -webkit-box-flex: 1;
   -moz-box-flex: 1;
}

.tuan_price .price em {
   font-size: 15px;
   color: #fe4229;
   font-weight: bold;
   font-style: normal; 
   padding-right:12px;
}
.tuan_price .price em i{
	font-size:12px;
	color: #b2b2b2;
	}

.tuan_price .price	del{
	font-size:12px;
	color: #b2b2b2;
}
.tuan_price .bought{
	text-align: right;
display: inline-block;
height: 14px;
font-size: 12px;
color: #b2b2b2;
}

.see_more{
	text-align:center;
	line-height:44px;
	height:44px;
}
.see_more a{
	color:@font_style;
}
.youhui_ul .tuan_li .list_item .pic {
width: 86px;
height: 83px;
margin: 0px 12px 0 0;
display: inline-block;
overflow: hidden;
position: relative;
}


.youhui_ul .tuan_li .info h3 {
   padding:9px 0 9px 0;
   
   color: #ff5c5b;

}

.youhui_ul .tuan_li .info .tuan_price{
	display:block;
}

.youhui_ul .tuan_li .info .tuan_price p{
	color:#575757;
	font-size:12px;
	line-height: 20px;
}

.ecshop_li{
	display: inline-block;
	width:47%;
	text-align:center;
	padding:4px 3px; 
}


.ecshop_ul{
	padding:6px  3px  8px 3px;
	text-align:center;
}


.pull_down{
	position:absolute;
	width:98px;
	background:#fff;
	right:3px;
	top:53px;
	border:1px solid @border_style;
	border-bottom:none;
}
.pull_down ul li{
	padding-left:0px;
}

.pull_down .menu{
	width:98px;
	height:30px;
	border-bottom:1px solid @border_style;
	line-height:30px;
	color:@font_style;
}

.pull_down .menu span{
	padding:0 5px;
	font-size:14px;
}


.pull_down .menu i{
	padding:0 5px;
	font-size:20px;
}



.mall-cate li{
   -webkit-box-flex: 1;
   -moz-box-flex: 1;
   color: #8f8f8f;
   display: block;
   height: 42px;
   font-size: 14px;
   text-align: center;
   line-height: 42px;
   background:#fff;
   border-right:1px solid #e6e6e6;
  
}
.mall-cate{
	display:-moz-box;
    display:-webkit-box;
    display:box;
	width:100%;
	border-bottom:1px solid #e6e6e6;
}
/*---------------------------2014-09-04------------------------------------------------------*/
.mall-cate li:last-child{
	border:none;
}

.sp_ul li:last-child{
	border-right:none;
} 

.footer-sort ul li:last-child{
	border-right:none;
}

.mall-cate li i{
	color:#8f8f8f;
   position:absolute;
   top:13px;
   margin-left:10px;
}
.mall-cate li{
	position:relative;
}

.hide_list{
	 width:100%;
	 top:93px;
	 left:0px;
	 background: rgba(0,0,0,.7);
	 z-index:10;
	 position:absolute;
	 display:none;
}


.abbr{
	display:-moz-box;
    display:-webkit-box;
    display:box;
	width:100%;
	background:#fff;
	
}



.pull_down{
	z-index:100;
	display:none;
}

.first_list{
   -webkit-box-flex: 1;
   -moz-box-flex: 1;
   overflow: hidden;
}

.second_list{
  width:50%;
   overflow: hidden;
    background:#f2f2f2;
	-moz-box-flex: 1;
}


.directory{
	line-height:43px;
	padding-left:20px;
	border-bottom:1px solid #e6e6e6;
	border-right:1px solid #e6e6e6;
	color:#4a4a4a;
	font-size:13px;
	background:#fff;
}

.select.directory{
	border-right:1px solid #f2f2f2;
	background:#f2f2f2;
}

.two_directory{
	border-bottom:1px solid #e6e6e6;
	line-height:43px;
	padding-left:20px;
   font-size:13px;	
   color:#4a4a4a;
   background:#f2f2f2;
}



.fy{
	/*display:-moz-box;
    display:-webkit-box;
    display:box;*/
	/*width:100%;*/
	padding:7px 10px;
	/*border-bottom:1px solid #e6e6e6;*/
	border-radius:5px;
	background:#fff;
	text-align:center;
}
.fy a:hover{ border-color:#f60; color:#f60;}
.fy .next{
	display:inline-block;
	width:72px;
	height:30px;
	border:1px solid #b0b0b0;
	line-height:30px;
	text-align:center;
	border-radius:5px;
}

.fy .last{
	display:inline-block;
	width:72px;
	height:30px;
	border:1px solid #fc8600;
	line-height:30px;
	text-align:center;
	border-radius:5px;
	color:#fc8600;
}

.fy .fy_y{ line-height:30px; padding:0 12px; color:#696969;}

.list-view.bor_none{ border:none;}

.directory a{
	display: -webkit-box;
	display: -moz-box;
	display:box;
	width:100%;
}

.two_directory a{
	display:-moz-box;
    display:-webkit-box;
    display:box;
	width:100%;
}

.mall-cate .this{
	color:@font_style;
}

.mall-cate .this i{
	color:@font_style;
}


.change_city .fc8600{
	color:#fc8600;
}


.fy .btn2,.fy .btn_new,.fy .btn_last ,.fy .btn_first,.fy .btn_next{
	display: inline-block;
    width: 72px;
height: 30px;
border: 1px solid #b0b0b0;
line-height: 30px;
text-align: center;
border-radius: 5px;
padding:0px;
}

.list-view .specifier{
	padding: 6px 0 6px 13px;
	color: #c4c4c4;
	font-size: 12px;
	line-height: 24px;
}

.total_star .five_star_orange{
	width:auto;
}

.white_content{
	padding:10px;
	background-color: white;
	display:none;
}

.box-style h2{
	font-size: 15px;
color: #ccc;
line-height: 30px;
padding-bottom: 10px;

}
.box-style .textarea{
	border:1px dotted #6CABE7;
	padding: 5px;
}
.box-style .textarea textarea{
	width: 100%;
   height: 200px;
   font-size: 12px;
   color: #adadad
}


.ft-account button{
	display: inline-block;
width: 60px;
height: 28px;
background: @main_color;
line-height: 28px;
text-align: center;
color: #fff;
font-size: 14px;
border-radius: 20px;
margin-left: 10px;
border:none;
font-weight:bolder;
}
.ft-account{
	padding-top:10px;
}

.bolder{
	font-weight:bolder;
}


.total_star .five_star_orange{
	width:93px;
}

.whole_grade 	.five_star_orange{
	line-height: 25px;
}

.evaluate_title .five_star_orange{
	
}

.evaluate_title .grade b{
	line-height:46px;
}

.tuan_info_p p img{ width:100%;}



/*回到顶部*/
.top-btn {
	display: none;
	position: fixed;
	right: 10px;
	bottom: 10px;
	width: 43px;
	height: 43px;
	line-height: 43px;
	background: #fc8600;
	z-index: 130;
	border-radius: 50%;
	color: #fff;
	overflow: hidden;
	text-align: center;
	font-size: 1.5em;
}
a.react{
	display: block;
	color: inherit;
	height: 100%;
}
.text-icon {
	font-family: base_icon;
	display: inline-block;
	vertical-align: middle;
	font-style: normal;
}
.dl ul li{
	padding-left:0px;
}
/*回到顶部按钮*/
.gotop{
	display: block;
	position: fixed;
	right: 10px;
	bottom:75px;
	width: 35px;
	height: 35px;
	line-height:35px;
	z-index: 130;
	border-radius: 50%;
	overflow: hidden;
	text-align: center;	
	color:@font_white;
	background:@main_color;
	font-size:24px;
	border:4px solid #f5b857;
}
.gotop a{
	display: block;
	color: inherit;
	height: 100%;
	background:#fff;
}
.gotop .iconfont{font-size:20px; color:#f5b857;}
.com-client{
	border-bottom:1px solid @border_main;
	background:@box_color;
	text-align:center;
	padding:10px 0px; 
}
.com-client a,.com-client span{
   line-height:20px;
   padding:0 10px;
   font-weight:700;
}
.flex_b {
background: @main_color;
border-radius: 15px;
width:100%;
margin:20px 0;
}
.business_out{
	font-size:15px; line-height:21px; display:block;color:#fff;
}
.p-10{
	padding:20px 10px;
}
/*首页底部的客户端下载*/
.Client{
   position:fixed; 
   height:75px;
   bottom:0px;
   width:100%;
}
.Client_bg{
	height:100%;
	width:100%;
	background:#333;
	filter: alpha(opacity=70); 
	opacity: 0.7;	 
	z-index:10;
}
.Client_de{
	position:absolute;
	top:0px;
	z-index:11;
	color:#fff;
	width:100%;
	height:100%;
	overflow:hidden;
}
.go_download{
 display:block;
  height:25px;
  border:1px solid #fff;
  border-radius:5px;
  line-height:25px;
  font-size:14px;
  color:#fff;
  padding:0px 10px;	
  margin:25px 25px 0 0;
}
.transcript{
	padding-left: 50px;
	line-height: 25px;
	padding-top: 13px;
	font-size: 14px;
	width: 55%;
}
.close_but{
	display:block;
	position:absolute;
	width:30px;
	height:30px;
	background:@main_color;
	top:5px;
	left:5px;
	color:#fff;
	border-radius:50%;
	
}
.close_but i{
	display:block;
	height:100%;
	width:100%;
	line-height:28px;
	text-align:center;
	font-size:20px;
}

/******************************商铺列表筛选条件**********2014-12-19***************************************************/
.more_search {
	padding: 15px 11px;
	display: inline-block;
	line-height: 100%;
	position: relative;
}
.more_search a i {
	color: #fff;
	font-size: 18px;
}
.more_search_pull_down{
	z-index:100;
	display:none;
	position:absolute;
	width:99%;
	background:#fff;
	right:1px;
	top:53px;
	border:1px solid #fc8600;
}
.choose_li{
	padding:8px 10px 9px 10px;
	border-bottom:1px solid #d9d9d9;
}
.choose_li .choose_item{
   display: -webkit-box;
   display: -moz-box;
   width: 100%;
   display:box;   
}
.choose_li .choose_title{
   width: 45px;
   display: inline-block;
   position: relative;
   color: #5f5f5f;
}	
.choose_li .choose_content{
	-webkit-box-flex: 1;
	-moz-box-flex:1;
    color: #6E7D8B;
}	
.choose_li .choose_content i{
	margin:0 2px; line-height:16px;
}
.choose_li .choose_content .selected{
	font-weight: bolder;
	color: #f59436;
	background:#f59436;
	color:#fff;
}

/********************帖子列表topiclist*******************/
.topic_list_ul {
	background-color:#ebebeb;
	}
.topic_list_ul li {
-moz-box-shadow: 0 1px 2px #cacaca;
-webkit-box-shadow: 0 1px 2px #cacaca;
box-shadow: 0 1px 2px #cacaca;
-moz-border-radius: 4px;
-webkit-border-radius: 4px;
border-radius: 4px;
margin: 6px 5px;
background-color: #fff;
}	


.topic_list_top{
	background: #fff;
	width: 100%;
	position: relative;
	height: 40px;	
	display: -webkit-box;
	line-height:40px;
	box-shadow:0 3px 3px #999;
}
.topic_list_top_left{

	width: 10%;	
	text-align: center;
	font-size:20px;
	color:#ccc;
}
.topic_list_top .fa{ line-height:35px; padding-left:50%; margin-left:-11px;}
.topic_list_top_center {
	width: 80%;	
	text-align:center;
}
.topic_list_top_center a{
	color:#5B5B5B;
	font-size:16px;
	padding-left:8px;
	padding-right:8px;
}
.topic_list_top_center .selected{
	font-weight: bolder;
	color: #f59436;
}
.topic_list_top_right{

	width: 10%;
	text-align: center;
}
.topic_list_top_right a{
	color:#ccc;
	font-size:20px;
}
.topic_list_bg{
	width: 100%;
	background: #ccc;
}
.topic_search_box {	
	width:100%;
	height: 40px;
	background: #f6f6f6;
	position: relative;	
	display: none;
}
.topic_search_box .search_text {
	width:90%;
	dispalay: inline-block;
	height: 30px;
	padding: 5px;
	position: relative;
}

/*附近伙伴*/
.nearby_user_list_table {
	width:100%;
	color: #adadad;
	font-size:12px;
}
.nearby_user_list_table td {
	line-height: 22px;
	padding: 10px 5px 10px 5px;
	height: 90px;
	border-top: 1px solid #d9d9d9;
	border-bottom: 1px solid #d9d9d9;
}
.nearby_user_list_table .distance{ font-size:16px; position:absolute; right:0; top:3px;}


/*************私信********************/
.msg_list_table {
	width:100%;
}
.msg_list_table td {
	line-height: 22px;
	padding: 10px;
	text-align: center;
}
.pm_pic {
	background: url(../images/sys_pm.gif) no-repeat;
	display: inline-block;
	width: 48px;
	height: 48px;
}
.new_pm {
	background: url(../images/new_pm.gif) no-repeat;
	display: inline-block;
	width: 18px;
	height: 12px;
}
.sys_msg_title {
	color: #FE7000;
	font-weight: bolder;
	font-size: 14px;
	padding: 10px;
	text-align: center;
}
.fans_user {
	width: 80px;
	height: 100px;
	margin: 10px;
	float: left;
	text-align: center;
}