/* reset */

html, body, h1, h2, h3, h4, h5, h6, div, dl, dt, dd, ul, ol, li, p, blockquote, pre, hr, figure, table, caption, th, td, form, fieldset, legend, input, button, textarea, menu { margin: 0; padding: 0; }
header, footer, section, article, aside, nav, hgroup, address, figure, figcaption, menu, details { display: block; }
table { border-collapse: collapse; border-spacing: 0; }
caption { text-align: left; font-weight: normal; }
html, body, fieldset, img, iframe, abbr { border: 0; }
i, cite, em, var, address, dfn { font-style: normal; }
[hidefocus], summary { outline: 0; }
li { list-style: none; }
h1, h2, h3, h4, h5, h6, small { font-size: 100%; }
sup, sub { font-size: 83%; }
pre, code, kbd, samp { font-family: inherit; }
q:before, q:after { content: none; }
textarea { overflow: auto; resize: none; }
label, summary { cursor: default; }
a, button { cursor: pointer; }
h1, h2, h3, h4, h5, h6, em, strong, b { font-weight: bold; }
ins, u, s, a, a:hover { text-decoration: none; }
body, textarea, input, button, select, keygen, legend { font: 12px/1.14 arial, \5b8b\4f53; color: #333; outline: 0; }
body { background: #fff; font: normal 14px/1.5 Tahoma, Helvetica, arial, sans-serif; }
a, a:hover { color: #333; }
/* function */

.f-cb:after, .f-cbli li:after { display: block; clear: both; visibility: hidden; height: 0; overflow: hidden; content: "."; }
.f-cb, .f-cbli li { zoom: 1; }
.f-ib { display: inline-block; *display:inline;
*zoom:1;
}
.f-dn { display: none; }
.f-db { display: block; }
.f-fl { float: left; }
.f-fr { float: right; }
.f-pr { position: relative; }
.f-prz { position: relative; zoom: 1; }
.f-oh { overflow: hidden; }
.f-ff0 { font-family: arial, \5b8b\4f53; }
.f-ff1 { font-family: "Microsoft YaHei", \5fae\8f6f\96c5\9ed1, arial, \5b8b\4f53; }
.f-fs1 { font-size: 12px; }
.f-fs2 { font-size: 14px; }
.f-fwn { font-weight: normal; }
.f-fwb { font-weight: bold; }
.f-tal { text-align: left; }
.f-tac { text-align: center; }
.f-tar { text-align: right; }
.f-taj { text-align: justify; text-justify: inter-ideograph; }
.f-vam, .f-vama * { vertical-align: middle; }
.f-wsn { word-wrap: normal; white-space: nowrap; }
.f-pre { overflow: hidden; text-align: left; white-space: pre-wrap; word-wrap: break-word; word-break: break-all; }
.f-wwb { white-space: normal; word-wrap: break-word; word-break: break-all; }
.f-ti { overflow: hidden; text-indent: -30000px; }
.f-ti2 { text-indent: 2em; }
.f-lhn { line-height: normal; }
.f-tdu, .f-tdu:hover { text-decoration: underline; }
.f-tdn, .f-tdn:hover { text-decoration: none; }
.f-toe { overflow: hidden; word-wrap: normal; white-space: nowrap; text-overflow: ellipsis; }
.f-csp { cursor: pointer; }
.f-csd { cursor: default; }
.f-csh { cursor: help; }
.f-csm { cursor: move; }
.f-usn { -webkit-user-select: none; -moz-user-select: none; -ms-user-select: none; -o-user-select: none; user-select: none; }
.f-mt10 { margin-top: 10px; }
.f-mb10 { margin-bottom: 10px; }
.f-mr10 { margin-right: 10px; }
/* 布局 */

.w900 { width: 900px; }
.w240 { width: 240px; }
/* 头部 */

.top { background: #fbfbfb; color: #999; height: 30px; line-height: 30px; font-size: 12px; border-top: 1px solid #EEE; filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#FFFEFEFE', endColorstr='#FFFAFAFA');
background-image: -webkit-linear-gradient(top, #fefefe, #fafafa); background-image: -moz-linear-gradient(top, #fefefe, #fafafa); background-image: -o-linear-gradient(top, #fefefe, #fafafa); background-image: linear-gradient(top, #fefefe, #fafafa); -webkit-box-shadow: 0 0 0 1px #FFF, 0 0 0 2px #dfdfdf, 0 0 5px 3px #f0f0f0; -moz-box-shadow: 0 0 0 1px #FFF, 0 0 0 2px #dfdfdf, 0 0 5px 3px #f0f0f0; box-shadow: 0 0 0 1px #FFF, 0 0 0 2px #dfdfdf, 0 0 5px 3px #f0f0f0; margin-bottom: 4px; }
.top .nav-l a { color: #999; }
.top .nav-l { border-left: solid 1px #eee; border-right: solid 1px #fff; height: 30px; }
.top .nav-l .m { border-left: solid 1px #fff; border-right: solid 1px #eee; float: left; position: relative; padding:0 10px; }
.top .nav-l .on { background: #fff; }
.top .nav-l .m .sub { display: none; border: solid 1px #eee; border-top: none; padding: 10px;position: absolute; background: #fff; overflow: hidden; left: -2px; top:30px; z-index: 999; cursor: pointer; box-shadow: 0px 3px 3px #d9d9d9; }
.top .nav-l .m .ewm_app, .top .nav-l .m .ewm_wx { width: 160px; height: 160px; display: block; }
.top .nav-l .m .ewm_wx { background: url(../images/ewm_wx.jpg) no-repeat center center; }
.top .nav-l .m .ewm_app { background: url(../images/ewm_app.jpg) no-repeat center center; }
.top .nav-l .m i { padding-right: 5px;}
.top .nav-r li { float: left; padding: 0 5px; }
.top .nav-r li a { color: #666; }
.top .nav-r li a.fc-red { color: #F40004; }
.top .nav-r li em { padding: 0 5px; color: #eee; font-weight: normal; }
.top .nav-r li .cart_count { font-weight: bold; color: #F40004; }
.header { height: 100px; background: #fff; }
.header .logo { float: left; margin-top: 23px; margin-right: 40px; }
.header .logo a { display: block; background: url(../images/logo.gif) no-repeat; width: 260px; height: 54px; }
.header .search { width: 500px; float: left; padding-top: 20px; position: relative; }
#dropdown { position: absolute; margin-top: 4px; margin-left: -1px; padding: 5px 0; left: 0px; top: 0px; width: 67px; text-align: center; background: #fff; border: solid 3px #E74C3C; border-top: none; display: none; z-index: 999; box-shadow: 0 2px 0 0 #f0f0f0; }
#dropdown a { display: block; line-height: 30px; height: 30px; overflow: hidden; }
#dropdown a:hover { color: #E74C3C; }
.header .search .tag { height: 36px; line-height: 36px; font-size: 12px; }
.header .search .tag a { padding-right: 15px; }
.header .buy { width: 225px; float: right; height: 100px; }
.header .s-box { font-size: 14px; height: 36px; }
.header .s-box .sel { float: left; width: 67px; border: solid 3px #E74C3C; border-right: none; line-height: 30px; cursor: pointer; }
.header .s-box .sel ul { background: #fafafa; border-right: solid 1px #eee; }
.header .s-box .sel li { width: 60px; padding-left: 10px; color: #666; }
.header .s-box .s-txt { height: 36px; *height:30px;
line-height: 30px; border: solid 3px #E74C3C; border-left: none; border-right: none; padding: 0px 5px; float: left; font-size: 14px; width: 350px; _width: 340px; color: #999; }
.header .s-box .s-btn { height: 36px; line-height: 36px; font-size: 14px; color: #fff; background: #E74C3C; float: left; width: 70px; text-align: center; border: 0px; }
.site-nav { height: 40px; line-height: 40px; color: #fff; background: #E74C3C; }
.popmenu { float: left; position: relative; width: 240px; z-index: 99; }
.popmenu .name { width: 240px; font-size: 14px; text-align: center; font-weight: bold; color: #666; height: 40px; line-height: 40px; *height:38px;
*line-height:38px;
border: solid 2px #E74C3C; border-bottom: none; background: #fff url(../images/popmenu-name-bg.gif) repeat-x bottom; cursor: pointer; }
.popmenu .cate-nav { width: 240px; height: 410px; background: #fff; border: solid 2px #E74C3C; border-top: none; position: absolute; z-index: 1; box-shadow: 2px 2px 5px #d9d9d9; line-height: 22px; position: absolute; left: 0px; top: 40px; z-index: 99; }
.popmenu .cate-item { padding: 10px 5px 5px 40px; position: relative; border-bottom: solid 1px #f8f8f8; }
.popmenu .cate-item:hover { background: url(../images/arr.gif) no-repeat 220px 26px; }
.popmenu .cate-item:hover dt a, .popmenu .cate-item:hover dt i { color: #fa856f }
.popmenu .cate-item dl { }
.popmenu .cate-item dt { font-weight: bold; font-size: 14px; }
.popmenu .cate-item dt .hotlink { padding-left: 10px; border-left: solid 1px #eee; font-size: 12px; color: #fa856f; height: 18px; line-height: 18px; margin: 2px 0 2px 10px; }
.popmenu .cate-item dd { font-size: 12px; line-height: 22px; }
.popmenu .cate-item dd a { padding-right: 10px; }
.popmenu .cate-item dd a:hover { color: #fa856f }
.popmenu .cate-item i { position: absolute; left: 10px; top: 14px; display: block; width: 20px; height: 20px; color: #999; }
.popmenu .cate-item .sub { position: absolute; background: #fff; border: solid 1px #E74C3C; font-size: 12px; border-left: none; width: 280px; color: #333; padding: 20px; display: none; left: 236px; *left:240px;
top: 0px; box-shadow: 4px 2px 4px #d9d9d9; z-index: 999; }
.popmenu .cate-item .sub h3 { margin-bottom: 10px; font-size: 14px; }
.popmenu .cate-item .sub p { line-height: 24px; width: 260px; display: block; overflow: hidden; }
.popmenu .cate-item .sub p a { display: inline-block; height: 12px; line-height: 12px; padding: 0 10px; border-left: solid 1px #ddd; float: left; margin: 6px 10px 6px -11px; white-space: nowrap; }
.popmenu .cate-item .sub a:hover { color: #fa856f; }
.popmenu .cate-off { display: none; }
.menu { float: left; height: 40px; overflow: hidden; }
.menu li { float: left; margin-right: 1px; }
.menu li a { padding: 0 20px; font-size: 14px; color: #fff; font-weight: bold; display: block; }
.menu li a:hover, .menu li a.on { background: #C0392B; color: #fff; }
/* 筛选 */

.filter_contain { background: #fff; margin-top: 10px; border-top: solid 1px #ddd; font-size: 12px; box-shadow: 0 2px 0 0 #f0f0f0; }
.filter_contain dl, .filter_contain .sub_cate_row { background: #fff; border: solid 1px #ddd; border-top: none; padding: 0 10px; overflow: hidden; }
.filter_contain dt{ float: left; line-height: 40px; }
.filter_contain dd { float: left; line-height: 40px;width:900px }
.filter_contain dd a { display: block; height: 24px; line-height: 24px; margin-top: 8px; float: left; padding: 0 5px; }
.filter_contain dd a.current { color: #E74C3C; }
.filter_contain .sort_row a.current { color: #ff9900; line-height: 24px; }
.filter_contain .sub_cate_row { line-height: 40px; padding-left: 10px; }
.filter_contain .sub_cate_row a { display: block; padding: 0 5px; float: left; color: #999; }
.filter_contain .sub_cate_row a.current, .filter_contain .sort_row a.current:hover { color: #ff9900; }
.sort_title, .sort_icon { float: left; display: inline; font-size: 12px; line-height: 22px; height: 22px; margin: 0px 5px; }
.sort_title a, .sort_icon a { border: #ccc solid 1px; display: block; padding: 0px 5px; }
.sort_title a:hover, .sort_icon a:hover { border: #0a98ec solid 1px; display: block; padding: 0px 5px; color: #0a98ec; text-decoration: none; }
.sort_gray a, .sort_gray a:hover { background: url(../images/tuan/arrow.gif) 59px -34px no-repeat; padding-right: 20px; }
.sort_desc a, .sort_desc a:hover { background: url(../images/tuan/arrow.gif) 59px 6px no-repeat; padding-right: 20px; }
.sort_asc a, .sort_asc a:hover { background: url(../images/tuan/arrow.gif) 59px -15px no-repeat; padding-right: 20px; }
.reopen_row { font-size: 12px; text-align: right; padding-right: 20px; }
.reopen { background: url(../images/tuan/reopen.gif); width: 102px; height: 26px; display: inline-block; font-size: 12px; text-decoration: none; color: #fff; text-align: center; line-height: 26px; }
.list_type_row .sort_gray a, .list_type_row .sort_gray a:hover { background-position: 59px -41px }
.list_type_row .sort_asc a, .list_type_row .sort_asc a:hover { background-position: 59px -18px }
.cate_row { padding: 5px 15px; line-height: 24px; }
.cate_row .row { width: 880px }
.quan_row { padding: 5px 15px; line-height: 24px; border-top: 1px solid #DDD }
.quan_row .row { width: 880px }
.cate_row b.fl, .quan_row b.fl, .sort_row b { font-weight: normal; margin-right: 8px; color: #666 }
.sort_row { border-top: #DDD solid 1px; padding: 0 15px; line-height: 32px; }
.sub_cate_row { padding: 5px 8px; border: 1px solid #f1f1f1; background: #f5f5f5; }
.sort_row a.current { color: #ff9900; height: 32px; line-height: 32px }
.filter_contain a.desc_gray, .filter_contain a.asc_gray { color: #999; width: 50px; }
.filter_contain a.desc_gray:hover, .filter_contain a.asc_gray:hover { color: #999 }
.filter_contain a.desc_gray { background: url(../images/tuan/arrow.gif) no-repeat 30px -38px #fff; padding-right: 7px; }
.filter_contain a.asc_gray { background: url(../images/tuan/arrow.gif) no-repeat 30px -62px #fff; padding-right: 7px; }
.filter_contain a.idx_asc { background: url(../images/tuan/arrow.gif) no-repeat 30px -14px #fff; padding-right: 7px; }
.filter_contain a.idx_desc { background: url(../images/tuan/arrow.gif) no-repeat 30px 9px #fff; padding-right: 7px; }
.filter_contain a.idx_desc:hover, .filter_contain a.idx_asc:hover { color: #FB4E0B }
/* 底部 */

.footer { border-top: solid 3px #E74C3C; }
.footer .fnav { float: left; width: 920px; }
.footer .fnav dl { border-left: dotted 1px #a5a5a5; }
.footer .fnav dt { padding: 10px; }
.footer .fnav dd { font-size: 12px; display: block; line-height: 24px; height: 24px; padding: 0 10px; }
.footer .service { float: right; width: 238px; border-left: dotted 1px #a5a5a5; border-right: dotted 1px #a5a5a5; height: 102px; background: url(../images/kf-ico.png) no-repeat 10px 26px; }
.footer .service ul { padding-left: 80px; font-size: 12px; padding-top: 26px; }
.footer .service li { line-height: 26px; }
.footer .service li strong { color: #E74C3C; }
.footer .copyright { padding: 20px; line-height: 24px; font-size: 12px; color: #999; text-align: center; }

/* 多分辨率适应 */

@media (max-width:1189px) {
}

@media (min-width:768px) and (max-width:991px) {
}

@media (max-width:767px) {
}
