/* IE6-7 HACK */

.container { padding-left: 0px; padding-right: 0px; width:1160px !important; }
.top .nav-l .m .sub { width:160px; height:160px;}
.deal-box { width: 900px; overflow: hidden; }
.deal-box .mall{ width:1000px;}
.deal-box .item { width: 285px; }
.deal-box .item a { display: block; }
.deal-new .row { }
.deal-new .col-sm-3 { width: 200px; }
.deal-list { width: 1200px; overflow: hidden; margin-top: 20px; margin-left: -10px; }
.deal-list .col-sm-4 { width: 373px; padding-left: 0px; padding-right: 0px; }
.m-deal .deal-list li .title { line-height: 34px; }
.deal-more { margin-top: 16px; }
.deal-detail .more { padding-top: 10px; }
#sidebar { width: 238px; }
.footer .row { margin-left: 0px; margin-right: 0px; }
.footer .col-sm-3 { padding-left: 0px; padding-right: 0px; }
.footer .fnav dl { width: 210px; }
.footer .copyright { clear: both; }

@media(min-width:1200px) {
.container { width: 1160px; overflow: hidden; }
}
